<!DOCTYPE html>
<html lang="en">
<head>
     <style> 

    body {
            background-color: #dfbf9f;
        } 

    .title-bar {
            background-color: #b87a3d;
            margin: 0;
            padding: 0;

            margin-bottom: 2em;        
        }

</style>
    <meta charset="UTF-8">
    <title>Cake</title>
</head>

<body>

<div class="title-bar"> <h1> Welcome to The Cake Library! </h1> </div>
<img src="static/chocolate_cake.jpg" alt="LH Chocolate Cake" width="300" height="300">
<img src="static/red_velvet_cake.jpg" alt="LH Red Velvet Cake" width="300" height="300">
<img src="static/cheese_cake.jpg" alt="LH Cheese Cake" width="300" height="300">

<br>
  <a href="{{ url_for('main_page') }}"><button>Go Back to Home Page</button></a>

</body>
</html>
