<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookie</title>
</head>

<body>

<h1> Welcome to The Cookie Library! </h1>
<a href="{{ url_for('pro') }}"><img src="static/cookie.jpg" alt="LH ChocoChip Cookie" width="300" height="300"></a>
<img src="static/mixed_cookie.jpg" alt="LH ChocVanilla Cookie" width="300" height="300">
<img src="static/amsterdam_cookie.jpg" alt="LH Amsterdam Cookie" width="300" height="300">
<img src="static/lemon_cookie.jpg" alt="LH Lemon Cookie" width="300" height="300">


</body>
</html>
