<!DOCTYPE html>
<html lang="en">
<head>
     <style> 
    
    body {
            background-color: #dfbf9f;
        } 

    .title-bar {
            background-color: #b87a3d;
            margin: 0;
            padding: 0;

            margin-bottom: 2em;        
        }
     </style>
    <meta charset="UTF-8">
    <title>Cookie</title>
</head>

<body>

<div class="title-bar"> <h1 class=""> Welcome to The Cookie Library! </h1> </div>
<a href="{{ url_for('pro') }}"><img src="static/cookie.jpg" alt="LH ChocoChip Cookie" width="300" height="300"></a>
<img src="static/mixed_cookie.jpg" alt="LH ChocVanilla Cookie" width="300" height="300">
<img src="static/amsterdam_cookie.jpg" alt="LH Amsterdam Cookie" width="300" height="300">
<img src="static/lemon_cookie.jpg" alt="LH Lemon Cookie" width="300" height="300">

<br>
<a href="{{ url_for('main_page') }}"><button>Go Back to Home Page</button></a>

</body>
</html>
