<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<script src="script.js"></script>

<h1> LH Cookies </h1>

<h2 id="des"> What Is LH Cookies? </h2>

<p> LH Cookies is a bakery which specializes in baking cookies and delievers pastries straight to your home! </p>
<h2 id="popular"> Our Popular Purchases </h2>

<a href="{{ url_for('pro') }}"><img src="static/cookie.jpg" alt="LH ChocoChip Cookie" width="300" height="300"></a>
<img src="static/cupcake.jpg" alt="LH ChoCupcake" width="300" height="300">
<img src="static/pie.jpg" alt="LH Appie" width="300" height="300">

<a href="/cookies"> COOKIES </a>
<a href="/cakes"> CAKES </a>
<a href="/cupcakes"> CUPCAKES </a>
<a href="/pies"> PIES </a>


</body>
</html>